In [1]:
!pip install Elasticsearch

Collecting Elasticsearch
  Downloading elasticsearch-9.0.1-py3-none-any.whl.metadata (8.5 kB)
Collecting elastic-transport<9,>=8.15.1 (from Elasticsearch)
  Downloading elastic_transport-8.17.1-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: python-dateutil in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from Elasticsearch) (2.9.0.post0)
Requirement already satisfied: typing-extensions in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from Elasticsearch) (4.13.2)
Requirement already satisfied: urllib3<3,>=1.26.2 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from elastic-transport<9,>=8.15.1->Elasticsearch) (2.4.0)
Requirement already satisfied: certifi in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from elastic-transport<9,>=8.15.1->Elasticsearch) (2025.4.26)
Requirement already satisfied: six>=1.5 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from python-dateutil->Elasticsearch) (1.17.0)
Downloading elasticsearch-9.0.1-py3-none-any.whl (905 kB)
   ---------------------------------------- 0.0/905.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/905.5 kB ? eta -:--:--
   ---------------------------------------- 905.5/905.5 kB 8.2 MB/s eta 0:00:00
Downloading elastic_transport-8.17.1-py3-none-any.whl (64 kB)
Installing collected packages: elastic-transport, Elasticsearch
Successfully installed Elasticsearch-9.0.1 elastic-transport-8.17.1

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from elasticsearch import Elasticsearch
client = Elasticsearch(
    "https://a7b16fc079fb47698fe7b89b50ff406b.us-east-1.aws.found.io:443",
    api_key="OTNhN0lKY0IxaWdKNjRyOXg4UUY6WVZKTW5aX3VuQVRtUEhrVDVNWWxMQQ=="
)
# index_name = "version-1"
# mappings = {
#     "properties": {
#         "text": {
#             "type": "text"
#         }
#     }
# }
# mapping_response = client.indices.put_mapping(index=index_name, body=mappings)
print(mapping_response)

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------- ----------------------------- 2.9/11.5 MB 16.7 MB/s eta 0:00:01
   ------------------ --------------------- 5.2/11.5 MB 13.6 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.5 MB 13.0 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 12.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 11.0 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 10.3 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("raw_data.csv")

In [31]:
df.columns

Index(['First_Name', 'Last_Name', 'E-mail', 'Role', 'Gender',
       'Year of Joining', 'Year of Graduation', 'Course/Degree', 'dep',
       'Specialization', 'Mail Unsubscribe Category', 'Skills',
       'Current Designation', 'Current Company', 'Other Work', 'Work Industry',
       'Other Education', 'Auth/Unauth', 'Institute', 'Phone',
       'secondary_email', 'Joined', 'Last Profile Update', 'Last Login Time',
       'Active Account Time', 'Current City', 'Current Country', 'Hometown',
       'Hometown Country', 'Enrollment Number', 'Unique Profile ID',
       'Profile URL', 'Current Residence', 'Current Office',
       'Permanent Residence', 'DoB', 'Marital Status', 'mentee_problem',
       'mentor_topic'],
      dtype='object')

In [32]:
df.head()

,First_Name,Last_Name,E-mail,Role,Gender,Year of Joining,Year of Graduation,Course/Degree,dep,Specialization,...,Enrollment Number,Unique Profile ID,Profile URL,Current Residence,Current Office,Permanent Residence,DoB,Marital Status,mentee_problem,mentor_topic
0,harika,M,harika.almashines@gmail.com,Admin,NaN,2025,NaN,NaN,NaN,NaN,...,NaN,1812507,http://localhost/portal/dev/2023/profile/1812507,NaN,NaN,NaN,NaN,NaN,Need help with my resume review,NaN
1,Abdul,NaN,NaN,Alumni,NaN,2022,2025.0,BBA(Bachelor of Business Administration),Business/Management,Business Administration,...,NaN,1812508,http://localhost/portal/dev/2023/profile/1812508,NaN,NaN,NaN,NaN,NaN,Need help about Career Choice,NaN
2,Abhay,NaN,NaN,Alumni,NaN,2022,2026.0,B.Tech(Bachelor of Technology),Engineering / Technology,Computer Science Engineering,...,NaN,1812509,http://localhost/portal/dev/2023/profile/1812509,NaN,NaN,NaN,NaN,NaN,Need help with HR interview,NaN
3,Abhay,NaN,NaN,Alumni,NaN,2022,2026.0,B.Pharm.(Bachelor of Pharmacy),Medical,Pharmacy,...,NaN,1812510,http://localhost/portal/dev/2023/profile/1812510,NaN,NaN,NaN,NaN,NaN,Need help for my startup,NaN
4,Abhay,NaN,NaN,Alumni,NaN,2022,2026.0,B.Sc.(Bachelor of Science),Science,Mathematics,...,NaN,1812511,http://localhost/portal/dev/2023/profile/1812511,NaN,NaN,NaN,NaN,NaN,Need help in for anxiety - motivation - person...,NaN

In [33]:
df.drop(['E-mail', 'Role' ,'Year of Joining' ,'Year of Graduation' , 'Mail Unsubscribe Category' , 'Other Work' , 'Other Education' , 'Auth/Unauth',  'Phone' , 'secondary_email', 'Joined', 'Last Profile Update', 'Last Login Time', 'Active Account Time', 'Current City', 'Current Country', 'Hometown',
       'Hometown Country', 'Enrollment Number', 'Profile URL' , 'Current Residence' , 'Permanent Residence', 'DoB', 'Marital Status'  ], axis=1, inplace=True)

In [34]:
df.columns

Index(['First_Name', 'Last_Name', 'Gender', 'Course/Degree', 'dep',
       'Specialization', 'Skills', 'Current Designation', 'Current Company',
       'Work Industry', 'Institute', 'Unique Profile ID', 'Current Office',
       'mentee_problem', 'mentor_topic'],
      dtype='object')

In [36]:
df1 = df.head(24)

In [39]:
df1.head()

,First_Name,Last_Name,Gender,Course/Degree,dep,Specialization,Skills,Current Designation,Current Company,Work Industry,Institute,Unique Profile ID,Current Office,mentee_problem,mentor_topic
0,harika,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1812507,NaN,Need help with my resume review,NaN
1,Abdul,NaN,NaN,BBA(Bachelor of Business Administration),Business/Management,Business Administration,"Events Organizing,Yoga, Social media marketing...",Marketing Executive,Hindustan Unilever,NaN,NaN,1812508,NaN,Need help about Career Choice,NaN
2,Abhay,NaN,NaN,B.Tech(Bachelor of Technology),Engineering / Technology,Computer Science Engineering,"API,Cybersecurity,C++ & Python Programming,agi...",Software Engineer,Tcs,NaN,NaN,1812509,NaN,Need help with HR interview,NaN
3,Abhay,NaN,NaN,B.Pharm.(Bachelor of Pharmacy),Medical,Pharmacy,agile learner,Pharmacist,Apollo Hospitals,NaN,NaN,1812510,NaN,Need help for my startup,NaN
4,Abhay,NaN,NaN,B.Sc.(Bachelor of Science),Science,Mathematics,"Budget Travel,Cricket, AUTO-CAD,1. certificate...",Data Analyst,Infosys,NaN,NaN,1812511,NaN,Need help in for anxiety - motivation - person...,NaN

In [37]:
df1.shape

(24, 15)

In [38]:
df1.to_csv("demo_cleaned.csv")

In [55]:
x = pd.read_csv('Standarised_1.csv')

In [56]:
x.head()

,Unnamed: 0,First_Name,Last_Name,Gender,Course/Degree,dep,Specialization,Skills,Current Designation,Current Company,Work Industry,Institute,Unique Profile ID,Current Office,mentee_problem,mentor_topic
0,0,harika,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1812507,NaN,Need help with my resume review,NaN
1,1,Abdul,NaN,NaN,Bachelor of Business Administration,Business - Management,Business Administration,"Events Organizing,Yoga, Social media marketing...",Marketing Executive,Hindustan Unilever,NaN,NaN,1812508,NaN,Need help about Career Choice,NaN
2,2,Abhay,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"API,Cybersecurity,C++ & Python Programming,agi...",Software Engineer,Tcs,NaN,NaN,1812509,NaN,Need help with HR interview,NaN
3,3,Abhay,NaN,NaN,Bachelor of Pharmacy,Medical,Pharmacy,agile learner,Pharmacist,Apollo Hospitals,NaN,NaN,1812510,NaN,Need help for my startup,NaN
4,4,Abhay,NaN,NaN,Bachelor of Science,Science,Mathematics,"Budget Travel,Cricket, AUTO-CAD,1. certificate...",Data Analyst,Infosys,NaN,NaN,1812511,NaN,Need help in for anxiety - motivation - person...,NaN

In [57]:
x['Unique Profile ID'] = x['Unique Profile ID'].astype('Int64')

In [58]:
x.columns

Index(['Unnamed: 0', 'First_Name', 'Last_Name', 'Gender', 'Course/Degree',
       'dep', 'Specialization', 'Skills', 'Current Designation',
       'Current Company', 'Work Industry', 'Institute', 'Unique Profile ID',
       'Current Office', 'mentee_problem', 'mentor_topic'],
      dtype='object')

In [59]:
x.drop(["Unnamed: 0"] , axis=1 , inplace=True)

In [65]:
x.head(25)

,First_Name,Last_Name,Gender,Course/Degree,dep,Specialization,Skills,Current Designation,Current Company,Work Industry,Institute,Unique Profile ID,Current Office,mentee_problem,mentor_topic
0,harika,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1812507,NaN,Need help with my resume review,NaN
1,Abdul,NaN,NaN,Bachelor of Business Administration,Business - Management,Business Administration,"Events Organizing,Yoga, Social media marketing...",Marketing Executive,Hindustan Unilever,NaN,NaN,1812508,NaN,Need help about Career Choice,NaN
2,Abhay,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"API,Cybersecurity,C++ & Python Programming,agi...",Software Engineer,Tcs,NaN,NaN,1812509,NaN,Need help with HR interview,NaN
3,Abhay,NaN,NaN,Bachelor of Pharmacy,Medical,Pharmacy,agile learner,Pharmacist,Apollo Hospitals,NaN,NaN,1812510,NaN,Need help for my startup,NaN
4,Abhay,NaN,NaN,Bachelor of Science,Science,Mathematics,"Budget Travel,Cricket, AUTO-CAD,1. certificate...",Data Analyst,Infosys,NaN,NaN,1812511,NaN,Need help in for anxiety - motivation - person...,NaN
5,Abhishek,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"c++,Basic Digital Marketing,S.G.F.I. in chess",Software Engineer,Tcs,NaN,NaN,1812512,NaN,Need help with academic strategies,NaN
6,Adhil,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Adaptive Leadership, Web Development,Adaptive ...",Software Engineer,Tcs,NaN,NaN,1812513,NaN,Need help with my resume review,NaN
7,Aditya,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Python, C++, MySQL, HTML, Javascript, CSS, c l...",Software Engineer,Tcs,NaN,NaN,1812514,NaN,Need help in for anxiety - motivation - person...,NaN
8,Adityakumar,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Software Development, Programming,Software Eng...",Tcs,NaN,NaN,NaN,1812515,NaN,Need help with HR interview,NaN
9,Adivi,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Software Development, Programming,Software Eng...",Tcs,NaN,NaN,NaN,1812516,NaN,Need help for higher studies choices,NaN
10,Adnan,NaN,NaN,Bachelor of Medicine,Bachelor of Surgery,Medical,Medicine & Surgery,NaN,Pharmacist,NaN,NaN,1812517,NaN,NaN,Help in academics strategies
11,Adrija,NaN,NaN,Integrated B.S.+M.S.,Science,Science,NaN,Project Student,TATA INSTITUTE OF FUNDAMENTAL RESEARCH (TIFR) ...,NaN,NaN,1812518,NaN,NaN,Help in anxiety- motivation - personal issues
12,Ajit,NaN,NaN,Bachelor of Science (Honours),Science,Physics,"Ability To Learn Quickly,Artificial Intelligen...",NaN,NaN,NaN,NaN,1812519,NaN,NaN,Help for higher studies choices
13,Akanksha,NaN,NaN,Bachelor of Engineering,Engineering - Technology,Computer Science and Business Systems,"Python,HTML5,Advanced CSS, My SQL, C++, Javasc...",NaN,NaN,NaN,NaN,1812520,NaN,NaN,Mock HR interview
14,Akash,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Python,Google Cloud Platform, Java, C++, Web D...",Software Engineer,Tcs,NaN,NaN,1812521,NaN,NaN,Help in career choices
15,Akshu,NaN,NaN,Bachelor of Science,Science,Mathematics,"Graphic Design,Botany,Cricket,Cell Biology, Re...",Data Analyst,Infosys,NaN,NaN,1812522,NaN,NaN,Help to startup founders
16,Aleyiga,NaN,NaN,Bachelor of Science,Science,Mathematics,"Adaptability,Analytic Problem Solving,Analytic...",Data Analyst,Infosys,NaN,NaN,1812523,NaN,NaN,Help in anxiety-motivation -personal issues
17,Alisha,NaN,NaN,Bachelor of Science (Honours),Science,Mathematics,"Python,HTML5,Front End Developers,Microsoft Wo...",Data Analyst,Infosys,NaN,NaN,1812524,NaN,NaN,Help for higher studies choices
18,Allamraju,NaN,NaN,Bachelor of Science,Science,Mathematics,"Video Editing, HTML, CSS,Social Media and YouT...",Science Teacher,Prakasham school,NaN,NaN,1812525,NaN,NaN,Help in career choices
19,Nagayasaswi,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Python,Artificial Intelligence,DSA, Java, My S...",Software Engineer,Tcs,NaN,NaN,1812526,NaN,NaN,Help to startup founders
20,Nagesh,NaN,NaN,Bachelor of Engineering,Engineering - Technology,Artificial Intelligence and Machine Learning,NaN,NaN,NaN,NaN,NaN,1812527,NaN,NaN,Help in anxiety- motivation- personal issues
21,Nageshwar,NaN,NaN,Bachelor of Arts,Arts,Arts,"Social Media Marketing,Ability to good communi...",Content Writer,Times Group,NaN,NaN,1812528,NaN,NaN,Help in academics strategies
22,Milankumar Bhupatbhai Mokariya,NaN,NaN,Bachelor of Vocation,Science,NaN,"Mobile Games,Unity 3D game development, Web De...",NaN,NaN,NaN,NaN,1812529,NaN,NaN,Mock HR interview
23,Diya Shajeer,NaN,NaN,Bachelor of Science (Honours),Science,NaN,"Leadership,Academic Research,Community Outreac...",NaN,NaN,NaN,NaN,1812530,NaN,NaN,Help in career choices

In [62]:
x.shape

(24, 15)

In [66]:
x['user_type'] = ['mentee'] * 9 + ['mentor'] * (len(x) - 9)

In [68]:
x.head(24)

,First_Name,Last_Name,Gender,Course/Degree,dep,Specialization,Skills,Current Designation,Current Company,Work Industry,Institute,Unique Profile ID,Current Office,mentee_problem,mentor_topic,user_type
0,harika,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1812507,NaN,Need help with my resume review,NaN,mentee
1,Abdul,NaN,NaN,Bachelor of Business Administration,Business - Management,Business Administration,"Events Organizing,Yoga, Social media marketing...",Marketing Executive,Hindustan Unilever,NaN,NaN,1812508,NaN,Need help about Career Choice,NaN,mentee
2,Abhay,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"API,Cybersecurity,C++ & Python Programming,agi...",Software Engineer,Tcs,NaN,NaN,1812509,NaN,Need help with HR interview,NaN,mentee
3,Abhay,NaN,NaN,Bachelor of Pharmacy,Medical,Pharmacy,agile learner,Pharmacist,Apollo Hospitals,NaN,NaN,1812510,NaN,Need help for my startup,NaN,mentee
4,Abhay,NaN,NaN,Bachelor of Science,Science,Mathematics,"Budget Travel,Cricket, AUTO-CAD,1. certificate...",Data Analyst,Infosys,NaN,NaN,1812511,NaN,Need help in for anxiety - motivation - person...,NaN,mentee
5,Abhishek,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"c++,Basic Digital Marketing,S.G.F.I. in chess",Software Engineer,Tcs,NaN,NaN,1812512,NaN,Need help with academic strategies,NaN,mentee
6,Adhil,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Adaptive Leadership, Web Development,Adaptive ...",Software Engineer,Tcs,NaN,NaN,1812513,NaN,Need help with my resume review,NaN,mentee
7,Aditya,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Python, C++, MySQL, HTML, Javascript, CSS, c l...",Software Engineer,Tcs,NaN,NaN,1812514,NaN,Need help in for anxiety - motivation - person...,NaN,mentee
8,Adityakumar,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Software Development, Programming,Software Eng...",Tcs,NaN,NaN,NaN,1812515,NaN,Need help with HR interview,NaN,mentee
9,Adivi,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Software Development, Programming,Software Eng...",Tcs,NaN,NaN,NaN,1812516,NaN,Need help for higher studies choices,NaN,mentor
10,Adnan,NaN,NaN,Bachelor of Medicine,Bachelor of Surgery,Medical,Medicine & Surgery,NaN,Pharmacist,NaN,NaN,1812517,NaN,NaN,Help in academics strategies,mentor
11,Adrija,NaN,NaN,Integrated B.S.+M.S.,Science,Science,NaN,Project Student,TATA INSTITUTE OF FUNDAMENTAL RESEARCH (TIFR) ...,NaN,NaN,1812518,NaN,NaN,Help in anxiety- motivation - personal issues,mentor
12,Ajit,NaN,NaN,Bachelor of Science (Honours),Science,Physics,"Ability To Learn Quickly,Artificial Intelligen...",NaN,NaN,NaN,NaN,1812519,NaN,NaN,Help for higher studies choices,mentor
13,Akanksha,NaN,NaN,Bachelor of Engineering,Engineering - Technology,Computer Science and Business Systems,"Python,HTML5,Advanced CSS, My SQL, C++, Javasc...",NaN,NaN,NaN,NaN,1812520,NaN,NaN,Mock HR interview,mentor
14,Akash,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Python,Google Cloud Platform, Java, C++, Web D...",Software Engineer,Tcs,NaN,NaN,1812521,NaN,NaN,Help in career choices,mentor
15,Akshu,NaN,NaN,Bachelor of Science,Science,Mathematics,"Graphic Design,Botany,Cricket,Cell Biology, Re...",Data Analyst,Infosys,NaN,NaN,1812522,NaN,NaN,Help to startup founders,mentor
16,Aleyiga,NaN,NaN,Bachelor of Science,Science,Mathematics,"Adaptability,Analytic Problem Solving,Analytic...",Data Analyst,Infosys,NaN,NaN,1812523,NaN,NaN,Help in anxiety-motivation -personal issues,mentor
17,Alisha,NaN,NaN,Bachelor of Science (Honours),Science,Mathematics,"Python,HTML5,Front End Developers,Microsoft Wo...",Data Analyst,Infosys,NaN,NaN,1812524,NaN,NaN,Help for higher studies choices,mentor
18,Allamraju,NaN,NaN,Bachelor of Science,Science,Mathematics,"Video Editing, HTML, CSS,Social Media and YouT...",Science Teacher,Prakasham school,NaN,NaN,1812525,NaN,NaN,Help in career choices,mentor
19,Nagayasaswi,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"Python,Artificial Intelligence,DSA, Java, My S...",Software Engineer,Tcs,NaN,NaN,1812526,NaN,NaN,Help to startup founders,mentor
20,Nagesh,NaN,NaN,Bachelor of Engineering,Engineering - Technology,Artificial Intelligence and Machine Learning,NaN,NaN,NaN,NaN,NaN,1812527,NaN,NaN,Help in anxiety- motivation- personal issues,mentor
21,Nageshwar,NaN,NaN,Bachelor of Arts,Arts,Arts,"Social Media Marketing,Ability to good communi...",Content Writer,Times Group,NaN,NaN,1812528,NaN,NaN,Help in academics strategies,mentor
22,Milankumar Bhupatbhai Mokariya,NaN,NaN,Bachelor of Vocation,Science,NaN,"Mobile Games,Unity 3D game development, Web De...",NaN,NaN,NaN,NaN,1812529,NaN,NaN,Mock HR interview,mentor
23,Diya Shajeer,NaN,NaN,Bachelor of Science (Honours),Science,NaN,"Leadership,Academic Research,Community Outreac...",NaN,NaN,NaN,NaN,1812530,NaN,NaN,Help in career choices,mentor

In [69]:
x.to_csv("demo_standarised.csv")

In [70]:
x.columns

Index(['First_Name', 'Last_Name', 'Gender', 'Course/Degree', 'dep',
       'Specialization', 'Skills', 'Current Designation', 'Current Company',
       'Work Industry', 'Institute', 'Unique Profile ID', 'Current Office',
       'mentee_problem', 'mentor_topic', 'user_type'],
      dtype='object')

In [71]:
import pandas as pd
from sentence_transformers import SentenceTransformer

# 2) Load the CSV into a DataFrame
#    Replace "path/to/your.csv" with the path or file you have.
df = pd.read_csv("demo_standarised.csv")

# 3) Rename columns for clarity
df = df.rename(columns={
    "First_Name":            "first_name",
    "Last_Name":             "last_name",
    "Course/Degree":         "degree",
    "dep":                   "department",
    "Specialization":        "specialization",
    "Skills":                "skills",
    "Current Designation":   "designation",
    "Current Company":       "company",
    "Work Industry":         "industry",
    "Institute":             "institute",
    "Unique Profile ID":     "uid",
    "mentee_problem":        "mentee_problem",
    "mentor_topic":          "mentor_topic",
    "user_type":             "user_type"
})

# 4) Create three new textâ€columns for embedding:
#    â€¢ academic_text     = "degree department specialization"
#    â€¢ professional_text = "skills designation industry"
#    â€¢ topic_text        = either mentee_problem or mentor_topic depending on user_type

# Ensure no NaNs break string concatenation:
df["degree"]          = df["degree"].fillna("")
df["department"]      = df["department"].fillna("")
df["specialization"]  = df["specialization"].fillna("")
df["skills"]          = df["skills"].fillna("")
df["designation"]     = df["designation"].fillna("")
df["industry"]        = df["industry"].fillna("")
df["mentee_problem"]  = df["mentee_problem"].fillna("")
df["mentor_topic"]    = df["mentor_topic"].fillna("")
df["user_type"]       = df["user_type"].fillna("")

df["academic_text"] = (
    df["degree"] + " "
  + df["department"] + " "
  + df["specialization"]
)

df["professional_text"] = (
    df["skills"] + " "
  + df["designation"] + " "
  + df["industry"]
)

# Choose topic_text based on user_type
def pick_topic(row):
    if str(row["user_type"]).lower() == "mentee":
        return row["mentee_problem"]
    else:
        return row["mentor_topic"]

df["topic_text"] = df.apply(pick_topic, axis=1).fillna("")

# 5) Load the JobBERT model once
model = SentenceTransformer("TechWolf/JobBERT-v2")

# 6) Generate the three embeddings row by row
#    Weâ€™ll store them in new DataFrame columns (`academic_vec`, `professional_vec`, `topic_vec`).
academic_vecs = []
professional_vecs = []
topic_vecs = []

for idx, row in df.iterrows():
    acad_str = row["academic_text"]
    prof_str = row["professional_text"]
    top_str  = row["topic_text"]
    
    acad_emb = model.encode(acad_str,    convert_to_numpy=True)
    prof_emb = model.encode(prof_str,    convert_to_numpy=True)
    top_emb  = model.encode(top_str,     convert_to_numpy=True)
    
    academic_vecs.append(acad_emb)
    professional_vecs.append(prof_emb)
    topic_vecs.append(top_emb)

df["academic_vec"]     = academic_vecs
df["professional_vec"] = professional_vecs
df["topic_vec"]        = topic_vecs

# 7) If you need JSONâ€serializable lists (for Elasticsearchâ€™s dense_vector),
#    convert each numpy array to a Python list:
df["academic_vec_list"]     = df["academic_vec"].apply(lambda x: x.tolist())
df["professional_vec_list"] = df["professional_vec"].apply(lambda x: x.tolist())
df["topic_vec_list"]        = df["topic_vec"].apply(lambda x: x.tolist())

c:\Users\91951\Desktop\Hackathon-Almashines\myenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\91951\Desktop\Hackathon-Almashines\myenv\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\91951\.cache\huggingface\hub\models--TechWolf--JobBERT-v2. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

In [79]:
df.head()

,Unnamed: 0,first_name,last_name,Gender,degree,department,specialization,skills,designation,company,...,user_type,academic_text,professional_text,topic_text,academic_vec,professional_vec,topic_vec,academic_vec_list,professional_vec_list,topic_vec_list
0,0,harika,M,NaN,,,,,,NaN,...,mentee,,,Need help with my resume review,"[0.09634534, 0.1395307, -0.05018112, 0.0137639...","[0.09634534, 0.1395307, -0.05018112, 0.0137639...","[-0.04986218, -0.07634237, -0.08672334, -0.132...","[0.09634534269571304, 0.1395307034254074, -0.0...","[0.09634534269571304, 0.1395307034254074, -0.0...","[-0.04986217990517616, -0.07634236663579941, -..."
1,1,Abdul,NaN,NaN,Bachelor of Business Administration,Business - Management,Business Administration,"Events Organizing,Yoga, Social media marketing...",Marketing Executive,Hindustan Unilever,...,mentee,Bachelor of Business Administration Business -...,"Events Organizing,Yoga, Social media marketing...",Need help about Career Choice,"[-0.00071168167, -0.07260054, -0.11984443, -0....","[0.010461375, 0.028306898, -0.08196705, 0.0813...","[0.020565758, 0.15914269, 0.011542716, -0.1503...","[-0.0007116816705092788, -0.07260054349899292,...","[0.010461375117301941, 0.02830689772963524, -0...","[0.020565757527947426, 0.15914268791675568, 0...."
2,2,Abhay,NaN,NaN,Bachelor of Technology,Engineering - Technology,Computer Science Engineering,"API,Cybersecurity,C++ & Python Programming,agi...",Software Engineer,Tcs,...,mentee,Bachelor of Technology Engineering - Technolog...,"API,Cybersecurity,C++ & Python Programming,agi...",Need help with HR interview,"[-0.052996937, -0.048533976, -0.13168803, 0.07...","[-0.1351453, 0.0006725781, 0.008227405, 0.0354...","[-0.010241919, 0.056078773, -0.0066829906, -0....","[-0.052996937185525894, -0.04853397607803345, ...","[-0.13514530658721924, 0.0006725781131535769, ...","[-0.010241919197142124, 0.056078772991895676, ..."
3,3,Abhay,NaN,NaN,Bachelor of Pharmacy,Medical,Pharmacy,agile learner,Pharmacist,Apollo Hospitals,...,mentee,Bachelor of Pharmacy Medical Pharmacy,agile learner Pharmacist,Need help for my startup,"[-0.1098289, -0.026237175, -0.06743959, -0.001...","[-0.053056687, 0.19415213, -0.11795415, -0.097...","[0.014398619, 0.1606419, -0.09635253, -0.09114...","[-0.1098288968205452, -0.02623717486858368, -0...","[-0.053056687116622925, 0.1941521316766739, -0...","[0.01439861860126257, 0.1606418937444687, -0.0..."
4,4,Abhay,NaN,NaN,Bachelor of Science,Science,Mathematics,"Budget Travel,Cricket, AUTO-CAD,1. certificate...",Data Analyst,Infosys,...,mentee,Bachelor of Science Science Mathematics,"Budget Travel,Cricket, AUTO-CAD,1. certificate...",Need help in for anxiety - motivation - person...,"[-0.0910308, 0.01867632, -0.04051171, 0.045307...","[-0.17819147, 0.16071112, -0.059438743, 0.0747...","[-0.0003115409, 0.10997168, -0.093782276, -0.0...","[-0.0910307988524437, 0.01867632009088993, -0....","[-0.17819146811962128, 0.1607111245393753, -0....","[-0.0003115409053862095, 0.10997167974710464, ..."

In [77]:
df.loc[0, [
    "uid", "first_name", "user_type",
    "academic_text", "academic_vec_list",
    "professional_text", "professional_vec_list",
    "topic_text", "topic_vec_list"
]]

uid                                                                1812507
first_name                                                          harika
user_type                                                           mentee
academic_text
academic_vec_list        [0.09634534269571304, 0.1395307034254074, -0.0...
professional_text
professional_vec_list    [0.09634534269571304, 0.1395307034254074, -0.0...
topic_text                                 Need help with my resume review
topic_vec_list           [-0.04986217990517616, -0.07634236663579941, -...
Name: 0, dtype: object

In [80]:
df.columns

Index(['Unnamed: 0', 'first_name', 'last_name', 'Gender', 'degree',
       'department', 'specialization', 'skills', 'designation', 'company',
       'industry', 'institute', 'uid', 'Current Office', 'mentee_problem',
       'mentor_topic', 'user_type', 'academic_text', 'professional_text',
       'topic_text', 'academic_vec', 'professional_vec', 'topic_vec',
       'academic_vec_list', 'professional_vec_list', 'topic_vec_list'],
      dtype='object')

In [85]:
!pip install tables

Collecting tables
  Downloading tables-3.10.2-cp313-cp313-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy>=1.20.0 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from tables) (2.2.6)
Collecting numexpr>=2.6.2 (from tables)
  Downloading numexpr-2.10.2-cp313-cp313-win_amd64.whl.metadata (8.3 kB)
Requirement already satisfied: packaging in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from tables) (25.0)
Collecting py-cpuinfo (from tables)
  Using cached py_cpuinfo-9.0.0-py3-none-any.whl.metadata (794 bytes)
Collecting blosc2>=2.3.0 (from tables)
  Downloading blosc2-3.3.4-cp313-cp313-win_amd64.whl.metadata (6.9 kB)
Requirement already satisfied: typing-extensions>=4.4.0 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from tables) (4.13.2)
Collecting ndindex (from blosc2>=2.3.0->tables)
  Downloading ndindex-1.10.0-cp313-cp313-win_amd64.whl.metadata (3.7 kB)
Collecting msgpack (from blosc2>=2.3.0->tables)
  Downloading msgpack-1.1.0-cp313-cp313-win_amd64.whl.metadata (8.6 kB)
Requirement already satisfied: platformdirs in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from blosc2>=2.3.0->tables) (4.3.8)
Requirement already satisfied: requests in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from blosc2>=2.3.0->tables) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from requests->blosc2>=2.3.0->tables) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from requests->blosc2>=2.3.0->tables) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from requests->blosc2>=2.3.0->tables) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91951\desktop\hackathon-almashines\myenv\lib\site-packages (from requests->blosc2>=2.3.0->tables) (2025.4.26)
Downloading tables-3.10.2-cp313-cp313-win_amd64.whl (6.4 MB)
   ---------------------------------------- 0.0/6.4 MB ? eta -:--:--
   - -------------------------------------- 0.3/6.4 MB ? eta -:--:--
   --- ------------------------------------ 0.5/6.4 MB 1.9 MB/s eta 0:00:04
   ------ --------------------------------- 1.0/6.4 MB 1.9 MB/s eta 0:00:03
   ------ --------------------------------- 1.0/6.4 MB 1.9 MB/s eta 0:00:03
   -------- ------------------------------- 1.3/6.4 MB 1.3 MB/s eta 0:00:04
   --------- ------------------------------ 1.6/6.4 MB 1.3 MB/s eta 0:00:04
   ----------- ---------------------------- 1.8/6.4 MB 1.3 MB/s eta 0:00:04
   -------------- ------------------------- 2.4/6.4 MB 1.4 MB/s eta 0:00:03
   ---------------- ----------------------- 2.6/6.4 MB 1.4 MB/s eta 0:00:03
   ------------------ --------------------- 2.9/6.4 MB 1.4 MB/s eta 0:00:03
   ------------------- -------------------- 3.1/6.4 MB 1.4 MB/s eta 0:00:03
   --------------------- ------------------ 3.4/6.4 MB 1.4 MB/s eta 0:00:03
   ---------------------- ----------------- 3.7/6.4 MB 1.4 MB/s eta 0:00:02
   ------------------------ --------------- 3.9/6.4 MB 1.4 MB/s eta 0:00:02
   -------------------------- ------------- 4.2/6.4 MB 1.4 MB/s eta 0:00:02
   --------------------------- ------------ 4.5/6.4 MB 1.4 MB/s eta 0:00:02
   ----------------------------- ---------- 4.7/6.4 MB 1.4 MB/s eta 0:00:02
   ----------------------------- ---------- 4.7/6.4 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 5.0/6.4 MB 1.3 MB/s eta 0:00:02
   -------------------------------- ------- 5.2/6.4 MB 1.3 MB/s eta 0:00:01
   -------------------------------- ------- 5.2/6.4 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 5.5/6.4 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 6.0/6.4 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 6.4/6.4 MB 1.3 MB/s eta 0:00:00
Downloading blosc2-3.3.4-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.2 MB 1.3 MB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.2 MB 1.7 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 1.9 MB/s eta 0:00:00
Downloading numexpr-2.10.2-cp313-cp313-win_amd64.whl (145 kB)
Using cached py_cpuinfo-9.0.0-py3-none-any.whl (22 kB)
Downloading msgpack-1.1.0-cp313-cp313-win_amd64.whl (75 kB)
Downloading ndindex-1.10.0-cp313-cp313-win_amd64.whl (156 kB)
Installing collected packages: py-cpuinfo, numexpr, ndindex, msgpack, blosc2, tables
Successfully installed blosc2-3.3.4 msgpack-1.1.0 ndindex-1.10.0 numexpr-2.10.2 py-cpuinfo-9.0.0 tables-3.10.2

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [96]:
df.to_hdf("demo-es-1.h5", mode='w', key='h5')

C:\Users\91951\AppData\Local\Temp\ipykernel_9308\1946687827.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['first_name', 'last_name', 'degree', 'department', 'specialization',
       'skills', 'designation', 'company', 'industry', 'institute',
       'mentee_problem', 'mentor_topic', 'user_type', 'academic_text',
       'professional_text', 'topic_text', 'academic_vec', 'professional_vec',
       'topic_vec', 'academic_vec_list', 'professional_vec_list',
       'topic_vec_list'],
      dtype='object')]

  df.to_hdf("demo-es-1.h5", mode='w', key='h5')

In [90]:
df['uid'].head(24)

0     1812507
1     1812508
2     1812509
3     1812510
4     1812511
5     1812512
6     1812513
7     1812514
8     1812515
9     1812516
10    1812517
11    1812518
12    1812519
13    1812520
14    1812521
15    1812522
16    1812523
17    1812524
18    1812525
19    1812526
20    1812527
21    1812528
22    1812529
23    1812530
Name: uid, dtype: int64

In [88]:
from elasticsearch import Elasticsearch, helpers
import pandas as pd

# â”€â”€â”€ 1) INITIALIZE YOUR DATAFRAME â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# (Assuming you've already run the embeddingâ€generation code from earlier, so `df` exists.)
# df should contain at least these columns:
#   ['uid', 'first_name', 'last_name', 'degree', 'department', 'specialization',
#    'skills', 'designation', 'company', 'industry', 'institute', 'user_type',
#    'topic_text', 'academic_vec_list', 'professional_vec_list', 'topic_vec_list']
#
# If you need to reload from CSV, uncomment & adjust:
# df = pd.read_csv("path/to/your_processed.csv")

df = df.rename(columns={
    "First_Name":            "first_name",
    "Last_Name":             "last_name",
    "Course/Degree":         "degree",
    "dep":                   "department",
    "Specialization":        "specialization",
    "Skills":                "skills",
    "Current Designation":   "designation",
    "Current Company":       "company",
    "Work Industry":         "industry",
    "Institute":             "institute",
    "Unique Profile ID":     "uid",
    "mentee_problem":        "mentee_problem",
    "mentor_topic":          "mentor_topic",
    "user_type":             "user_type"
})

# Verify the required columns are present:
required_cols = [
    "uid", "first_name", "last_name", "degree", "department", "specialization",
    "skills", "designation", "company", "industry", "institute", "user_type",
    "topic_text", "academic_vec_list", "professional_vec_list", "topic_vec_list"
]
missing = [c for c in required_cols if c not in df.columns]
if missing:
    raise ValueError(f"Missing required columns: {missing}")

# client = Elasticsearch(
#     "https://a7b16fc079fb47698fe7b89b50ff406b.us-east-1.aws.found.io:443",
#     api_key="OTNhN0lKY0IxaWdKNjRyOXg4UUY6WVZKTW5aX3VuQVRtUEhrVDVNWWxMQQ=="
# )

# â”€â”€â”€ 2) CONFIGURE & CONNECT TO ELASTICSEARCH â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
ES_HOST = "https://a7b16fc079fb47698fe7b89b50ff406b.us-east-1.aws.found.io:443"
API_KEY = "OTNhN0lKY0IxaWdKNjRyOXg4UUY6WVZKTW5aX3VuQVRtUEhrVDVNWWxMQQ=="
INDEX_NAME = "version-1"

es = Elasticsearch(
    ES_HOST,
    api_key=API_KEY
)

# â”€â”€â”€ 3) DEFINE & CREATE THE INDEX MAPPING â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
#
# If the index already exists and you want to recreate it (dropping old data), uncomment these lines:
# if es.indices.exists(INDEX_NAME):
#     es.indices.delete(index=INDEX_NAME)

mapping = {
    "mappings": {
        "properties": {
            "uid":                  { "type": "keyword" },
            "first_name":           { "type": "text"    },
            "last_name":            { "type": "text"    },
            "degree":               { "type": "text"    },
            "department":           { "type": "text"    },
            "specialization":       { "type": "text"    },
            "skills":               { "type": "text"    },
            "designation":          { "type": "text"    },
            "company":              { "type": "text"    },
            "industry":             { "type": "text"    },
            "institute":            { "type": "text"    },
            "user_type":            { "type": "keyword" },
            "topic":                { "type": "text"    },
            "academic_vec":         { "type": "dense_vector", "dims": 768 },
            "professional_vec":     { "type": "dense_vector", "dims": 768 },
            "mentorship_topic_vec": { "type": "dense_vector", "dims": 768 }
        }
    }
}

# Create the index (ignore 400 if already exists)
es.indices.create(index=INDEX_NAME, body=mapping, ignore=400)

# â”€â”€â”€ 4) PREPARE DOCUMENTS FOR BULK INDEXING â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
#
# Weâ€™ll build a generator of dicts conforming to Elasticsearchâ€™s bulkâ€index format.
def generate_actions(dataframe, index_name):
    """
    Yields one dict per row in the form required by Elasticsearch's bulk helper:
      {
        "_index": index_name,
        "_id":    <uid>,
        "_source": {
            "uid":                  ...,
            "first_name":           ...,
            "last_name":            ...,
            "degree":               ...,
            "department":           ...,
            "specialization":       ...,
            "skills":               ...,
            "designation":          ...,
            "company":              ...,
            "industry":             ...,
            "institute":            ...,
            "user_type":            ...,
            "topic":                <topic_text>,
            "academic_vec":         <list of 768 floats>,
            "professional_vec":     <list of 768 floats>,
            "mentorship_topic_vec": <list of 768 floats>
        }
      }
    """
    for _, row in dataframe.iterrows():
        yield {
            "_index": index_name,
            "_id":    str(row["uid"]),
            "_source": {
                "uid":                  str(row["uid"]),
                "first_name":           row["first_name"],
                "last_name":            row["last_name"],
                "degree":               row["degree"],
                "department":           row["department"],
                "specialization":       row["specialization"],
                "skills":               row["skills"],
                "designation":          row["designation"],
                "company":              row["company"],
                "industry":             row["industry"],
                "institute":            row["institute"],
                "user_type":            row["user_type"],
                "topic":                row["topic_text"],
                "academic_vec":         row["academic_vec_list"],
                "professional_vec":     row["professional_vec_list"],
                "mentorship_topic_vec": row["topic_vec_list"]
            }
        }

# â”€â”€â”€ 5) EXECUTE BULK INDEXING â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
helpers.bulk(es, generate_actions(df, INDEX_NAME))
# After bulk indexing, refresh the index so we can immediately search it:
es.indices.refresh(index=INDEX_NAME)

print(f"âœ… Successfully indexed {len(df)} documents into '{INDEX_NAME}'")

C:\Users\91951\AppData\Local\Temp\ipykernel_9308\1453706178.py:86: DeprecationWarning: Passing transport options in the API method is deprecated. Use 'Elasticsearch.options()' instead.
  es.indices.create(index=INDEX_NAME, body=mapping, ignore=400)

BulkIndexError: 24 document(s) failed to index.

In [95]:
df.columns

Index(['Unnamed: 0', 'first_name', 'last_name', 'Gender', 'degree',
       'department', 'specialization', 'skills', 'designation', 'company',
       'industry', 'institute', 'uid', 'Current Office', 'mentee_problem',
       'mentor_topic', 'user_type', 'academic_text', 'professional_text',
       'topic_text', 'academic_vec', 'professional_vec', 'topic_vec',
       'academic_vec_list', 'professional_vec_list', 'topic_vec_list'],
      dtype='object')

In [94]:
from elasticsearch import Elasticsearch, helpers
import pandas as pd

# â”€â”€â”€ 1) YOUR DATAFRAME SHOULD EXIST ALREADY â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
#    It must contain these columns:
#      ['uid', 'first_name', 'last_name', 'degree', 'department', 'specialization',
#       'skills', 'designation', 'company', 'industry', 'institute', 'user_type',
#       'topic_text', 'academic_vec_list', 'professional_vec_list', 'topic_vec_list']
#
#    If it's not loaded, uncomment & modify the next line to point to your CSV:
# df = pd.read_csv("path/to/your_processed.csv")

#  Verify that the embedding columns actually have lists of length 768
string_cols = [
    "first_name", "last_name", "degree", "department", "specialization",
    "skills", "designation", "company", "industry", "institute",
    "user_type", "topic_text"
]

for col in string_cols:
    if col in df.columns:
        df[col] = df[col].fillna("").astype(str)

def is_valid_vector(vec):
    return isinstance(vec, list) and len(vec) == 768 and all(isinstance(x, (float, int)) for x in vec)

bad_rows = []
for i, row in df.iterrows():
    if not is_valid_vector(row.get("academic_vec_list", [])):
        bad_rows.append((row["uid"], "academic_vec_list"))
    if not is_valid_vector(row.get("professional_vec_list", [])):
        bad_rows.append((row["uid"], "professional_vec_list"))
    if not is_valid_vector(row.get("topic_vec_list", [])):
        bad_rows.append((row["uid"], "topic_vec_list"))

if bad_rows:
    print("âš ï¸  Found invalid embedding vectors in these rows (uid, field):")
    for uid, field_name in bad_rows:
        print(f"   â€¢ uid={uid}, invalid field={field_name}")
    raise SystemExit("Fix the above rows vectors before indexing.")

# â”€â”€â”€ 2) CONNECT TO ELASTICSEARCH â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
ES_HOST = "https://a7b16fc079fb47698fe7b89b50ff406b.us-east-1.aws.found.io:443"
API_KEY = "OTNhN0lKY0IxaWdKNjRyOXg4UUY6WVZKTW5aX3VuQVRtUEhrVDVNWWxMQQ=="
INDEX_NAME = "version-1"

es = Elasticsearch(
    ES_HOST,
    api_key=API_KEY
)

# â”€â”€â”€ 3) DEFINE & CREATE THE INDEX MAPPING â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
mapping = {
    "mappings": {
        "properties": {
            "uid":                  { "type": "keyword" },
            "first_name":           { "type": "text"    },
            "last_name":            { "type": "text"    },
            "degree":               { "type": "text"    },
            "department":           { "type": "text"    },
            "specialization":       { "type": "text"    },
            "skills":               { "type": "text"    },
            "designation":          { "type": "text"    },
            "company":              { "type": "text"    },
            "industry":             { "type": "text"    },
            "institute":            { "type": "text"    },
            "user_type":            { "type": "keyword" },
            "topic":                { "type": "text"    },
            "academic_vec":         { "type": "dense_vector", "dims": 768 },
            "professional_vec":     { "type": "dense_vector", "dims": 768 },
            "mentorship_topic_vec": { "type": "dense_vector", "dims": 768 }
        }
    }
}

# If you need to recreate from scratch, uncomment these lines:
# if es.indices.exists(INDEX_NAME):
#     es.indices.delete(index=INDEX_NAME)
es.indices.create(index=INDEX_NAME, body=mapping, ignore=400)

# â”€â”€â”€ 4) PREPARE DOCUMENTS FOR BULK INDEXING â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
def generate_actions(dataframe, index_name):
    for _, row in dataframe.iterrows():
        uid = row["uid"]
        # Ensure UID is not null or empty
        if pd.isna(uid) or uid == "":
            print(f"âš ï¸  Skipping row with missing UID at index={_}")
            continue

        yield {
            "_index": index_name,
            "_id":    str(uid),
            "_source": {
                "uid":                  str(uid),
                "first_name":           row["first_name"],
                "last_name":            row["last_name"],
                "degree":               row["degree"],
                "department":           row["department"],
                "specialization":       row["specialization"],
                "skills":               row["skills"],
                "designation":          row["designation"],
                "company":              row["company"],
                "industry":             row["industry"],
                "institute":            row["institute"],
                "user_type":            row["user_type"],
                "topic":                row["topic_text"],
                "academic_vec":         row["academic_vec_list"],
                "professional_vec":     row["professional_vec_list"],
                "mentorship_topic_vec": row["topic_vec_list"]
            }
        }

# â”€â”€â”€ 5) EXECUTE BULK INDEXING WITH ERROR CATCHING â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
try:
    success, errors = helpers.bulk(es, generate_actions(df, INDEX_NAME), raise_on_error=False, stats_only=False)
    es.indices.refresh(index=INDEX_NAME)
    print(f"âœ… Successfully indexed {success} documents into '{INDEX_NAME}'.")
    if errors:
        print("âš ï¸  The following errors occurred during bulk indexing:")
        for err in errors:
            # err is a dict: {<op_type>: { "error": { ... }, "_id": <id> } }
            # e.g. { "index": { "_id":"123", "status":400, "error":{...} } }
            op_type, details = next(iter(err.items()))
            doc_id = details.get("_id")
            err_msg = details.get("error", {})
            print(f"   â€¢ doc_id={doc_id}, operation={op_type}, error={err_msg}")
except Exception as e:
    print("âŒ Bulk indexing failed with exception:")
    print(str(e))
    raise

C:\Users\91951\AppData\Local\Temp\ipykernel_9308\3076965002.py:79: DeprecationWarning: Passing transport options in the API method is deprecated. Use 'Elasticsearch.options()' instead.
  es.indices.create(index=INDEX_NAME, body=mapping, ignore=400)

âœ… Successfully indexed 24 documents into 'version-1'.

In [93]:
bad_rows

[]